{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/brz404.gif" style="height: 300px;" alt="">
    <div>
        Страница не найдена! Шо делать!!!111 =О
    </div>
</div>

{% endblock %}