{% extends "__layout.twig" %}

{% block content %}
    <h1>Добавление типа персонажа</h1>
    <hr>

    {% if message %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row g-3">
        <div class="col-4">
            <label class="form-label">Название типа</label>
            <input type="text" class="form-control" name="name_type">
        </div>

        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image">
        </div>
            
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}